# PostgreSQL Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# User credentials
USER_FULLNAME=
USER_EMAIL=
USER_PASSWORD=

# Application Configuration
PORT=7000

# JSON Web Token (JWT) Secret
JWT_SECRET=
# NODE_ENV=development
NODE_ENV=
