# PostgreSQL Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# User credentials
USER_FULLNAME=
USER_EMAIL=
USER_PASSWORD=

# Application Configuration
PORT=7000
NODE_ENV= # production || development || test

REDIS_HOST=localhost
REDIS_PORT=6379

VISIBILITY_TIMEOUT_SEC = 60

# Secret for session id validation
SESSION_SECRET=